* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  p {
    font-family: 'proxima-nova';
    font-style: normal;
  }

  .summary {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }

  .linkName {
    font-size: 21px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-right: auto;
    margin-left: auto;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .search-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  #top-image {
    background-repeat: no-repeat;
    background-size: cover;

  }

  h1 {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    text-shadow: 0px 0px 160px rgba(0,0,0,0.4);
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 35px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
  }

  #userAddress {
    border-radius: 5px;
    color: #01213b;
    width: 235px;
    font-weight: 700;
    background-color: #f2f2f2;
  }

  #userAddress::placeholder {
    color: rgb(160, 156, 156);
    font-weight: 700;
    text-align: center;
    margin: 10px;
  }

  #js-max-results {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #01213b;
    width: 155px;
    font-weight: 700;
    background-color: #f2f2f2;
  }

  #js-max-results::placeholder {
    color: rgb(160, 156, 156);
    font-weight: 700;
    text-align: center;
    margin: 10px;
  }

  #submit {
    font-family: 'Lato', sans-serif;
    color: #01213b;
    font-size: 1em;
    font-weight: 600;
    background:#f2f2f2;
    padding: 5px 16px;
    text-decoration: none;
    border: none;
    min-width: 70px;
    border: 2px solid #01213b;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #submit:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #ad662b;
    border: 2px solid #ad662b;
  }

  a {
    color: #01213b;
    font-family: 'proxima-nova';
  }
  
  a:hover {
    cursor: pointer;
    color:  #ad662b;
  }

  .trailImgMed {
    display: none;
  }

  @media screen and (min-width: 768px){
    
    .trailImgSmall {
      display: none;
    }

    .trailImgMed {
      display: block;
    }
  }


