* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .search-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  #top-image {
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: white;
  }

  #userAddress {
    border-radius: 3px;
  }

  #js-max-results {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
  }

  #submit {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
  }

  /* @media screen and (min-width:768px) {
    #top-image {
      height:150px;
    }
  } */
